.App { 
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  
  background: linear-gradient(72.44deg, #478AF1 0.01%, #87C1F1 0.02%, #649EF5 100%, #649EF5 100%), #C4C4C4;
  border-radius: 30px;

  text-align: center;
  font-family: 'Roboto' 'sans-serif';
  color: #6E93DA;
}
