.sidebar{
  padding: 40px;
  border-radius: 20px 0 0 20px;

  background: linear-gradient(111.81deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
  backdrop-filter: blur(50px);


  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.sidebar-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

.sidebar-name > h2, p {
  margin: 0px;
}

.profile-picture{
  margin: 0 0 20px 0;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.sidebar-menu {
margin: 40px 0 0 0;
text-align: left;
}

.sidebar-menu h2 {
  font-weight: 600;
  }